/* Copyright (c) 2025 P4V77 */
/* =========================
 * SPI0 – SX1262 LoRa
 * ========================= */
/ {
    spi_emul0: spi-emul@0 {
        compatible = "zephyr,spi-emul-controller";
        reg = <0x0 0x1000>;
        status = "okay";

        #address-cells = <1>;
        #size-cells = <0>;

        sx1262: sx1262@0 {
            compatible = "p4v,sx1262-fake";
            reg = <0>;
            spi-max-frequency = <10000000>;

            reset-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
            busy-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
            dio1-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;

            tx-enable-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
            rx-enable-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
            status = "okay";
        };
    };
};


/ {
    soc {
        /* =========================
         * UART1 – Modbus RTU
         * ========================= */
        uart1: uart@40028000 {
            compatible = "nordic,nrf-uarte";
            reg = <0x40028000 0x1000>;
            interrupts = <40 1>;
            status = "okay";

            current-speed = <19200>;
            parity = "none";
            stop-bits = "1";

            #address-cells = <1>;
            #size-cells = <0>;

            soil0: soil-sensor@1 {
                compatible = "p4v,sensor-soil3in1-fake";
                reg = <1>;
                slave-address = <1>;
                vdd-supply = <&power_rail_3v3>;
                label = "SOIL_3IN1";
                status = "okay";
            };
        };

        /* =========================
         * I2C0
         * ========================= */
        i2c0: i2c@40002000 {
            compatible = "nordic,nrf-twi";
            reg = <0x40002000 0x1000>;
            interrupts = <2 1>;
            interrupt-parent = <&nvic>;
            clock-frequency = <I2C_BITRATE_STANDARD>;
            status = "okay";
            label = "I2C_0";

            #address-cells = <1>;
            #size-cells = <0>;
            easydma-maxcnt-bits = <15>;

            pinctrl-0 = <&i2c0_default>;
            pinctrl-1 = <&i2c0_sleep>;
            pinctrl-names = "default", "sleep";
        };
    };
};

/* =========================
 * GPIO hogs / regulators
 * ========================= */
&gpio0 {
    power_rail_3v3_en: power_rail_3v3_en {
        gpio-hog;
        gpios = <13 GPIO_ACTIVE_HIGH>;
        output-low;
        line-name = "SENSOR_3V3_EN";
    };
};

&gpio0 {
    rs485_de: rs485_de {
        gpio-hog;
        gpios = <17 GPIO_ACTIVE_HIGH>;
        output-low;
        line-name = "RS485_DE";
    };
};

/ {
    power_rail_3v3: regulator-3v3 {
        compatible = "p4v,fake-regulator";
        regulator-name = "3V3_RAIL";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        status = "okay";
    };
};

/* =========================
 * I2C devices (FAKE)
 * ========================= */
&i2c0 {
    bme280: bme280@76 {
        compatible = "p4v,sensor-bme280-fake";
        reg = <0x76>;
        vdd-supply = <&power_rail_3v3>;
        label = "AIR_ENV_SENSOR";
        status = "okay";
    };

    bh1750: bh1750@23 {
        compatible = "p4v,sensor-bh1750-fake";
        reg = <0x23>;
        vdd-supply = <&power_rail_3v3>;
        label = "AMBIENT_LIGHT_SENSOR";
        status = "okay";
    };

    scd41: scd41@62 {
        compatible = "p4v,sensor-scd41-fake";
        reg = <0x62>;
        vdd-supply = <&power_rail_3v3>;
        label = "CO2_SENSOR";
        status = "okay";
    };
};

/* =========================
 * ADC – BSIM / native_sim
 * ========================= */
/ {
    adc0: adc-emul {
        compatible = "zephyr,adc-emul";
        status = "okay";
        #io-channel-cells = <1>;
        nchannels = <10>;
        ref-internal-mv = <600>;
        ref-external1-mv = <3300>;
    };

    /* These should work fine in root */
    soil_capacitive_sensor: soil-cap-sensor {
        io-channels = <&adc0 5>;
        resolution = <12>;
        status = "okay";
    };

    battery_sense: battery-voltage-sense  {
        compatible = "p4v,soil-analog";
        io-channels = <&adc0 7>;
        resolution = <12>;
        voltage-divider = <100000 100000>;
        status = "okay";
    };

    zephyr,user {
        io-channels = <&adc0 5>, <&adc0 7>;  /* Two channels: 5 and 7 */
        io-channel-names = "soil", "battery";  /* Optional but helpful */
        voltage-divider = <100000 100000>;
        resolution = <12>;
    };
};

/* =========================
 * Aliases (MUST be top-level)
 * ========================= */
/ {
    aliases {
        adc0 = &adc0;
        battery-sense = &battery_sense;
        envirmoental-sensor = &bme280;
        light-sensor = &bh1750;
        co2-sensor = &scd41;
        soil-sensor = &soil0;
        soil-sensor2 = &soil_capacitive_sensor;
        uart = &uart1;
        lora0 = &sx1262;
        power-rail-3v3 = &power_rail_3v3;
    };
};

/* =========================
 * Pin control
 * ========================= */
&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <
            NRF_PSEL(SPIM_SCK,  1, 15)
            NRF_PSEL(SPIM_MOSI, 1, 13)
            NRF_PSEL(SPIM_MISO, 1, 11)
            >;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <
            NRF_PSEL(SPIM_SCK,  1, 15)
            NRF_PSEL(SPIM_MOSI, 1, 13)
            NRF_PSEL(SPIM_MISO, 1, 11)
            >;
            low-power-enable;
        };
    };

    i2c0_default: i2c0_default {
        group1 {
            psels = <
            NRF_PSEL(TWIM_SDA, 1, 4)
            NRF_PSEL(TWIM_SCL, 1, 6)
            >;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <
            NRF_PSEL(TWIM_SDA, 1, 4)
            NRF_PSEL(TWIM_SCL, 1, 6)
            >;
            low-power-enable;
        };
    };
};
