menu "LoRaGro"

config LORAGRO
    bool "Enable LoRaGro library"
    default y

if LORAGRO

rsource "drivers/regulator_fake/Kconfig"
rsource "drivers/sensors/bme280_fake/Kconfig"
rsource "drivers/sensors/bh1750_fake/Kconfig"
rsource "drivers/sensors/scd41_fake/Kconfig"

endif

endmenu